/*! Rappid v2.3.0 - HTML5 Diagramming Framework - TRIAL VERSION

Copyright (c) 2015 client IO

 2018-07-16 


This Source Code Form is subject to the terms of the Rappid Trial License
, v. 2.0. If a copy of the Rappid License was not distributed with this
file, You can obtain one at http://jointjs.com/license/rappid_v2.txt
 or from the Rappid archive as was distributed by client IO. See the LICENSE file.*/


#header {
    height: 30px;
    background-color: #F6F6F6;
    color: #696c8a;
    text-align: center;
}
#header h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 30px;
    margin-left: 20px;
    font-size: 14px;
    float: left;
}
#header p {
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
