/*! Rappid v2.3.0 - HTML5 Diagramming Framework - TRIAL VERSION

Copyright (c) 2015 client IO

 2018-07-16 


This Source Code Form is subject to the terms of the Rappid Trial License
, v. 2.0. If a copy of the Rappid License was not distributed with this
file, You can obtain one at http://jointjs.com/license/rappid_v2.txt
 or from the Rappid archive as was distributed by client IO. See the LICENSE file.*/


#paper {
    margin: 30px auto;
    width: 800px;
    display: block;
    position: relative;
    border: 1px solid lightgray;
}

.link-tools .tool-options {
    display: none;
}
