/*! Rappid v2.3.0 - HTML5 Diagramming Framework - TRIAL VERSION

Copyright (c) 2015 client IO

 2018-07-16 


This Source Code Form is subject to the terms of the Rappid Trial License
, v. 2.0. If a copy of the Rappid License was not distributed with this
file, You can obtain one at http://jointjs.com/license/rappid_v2.txt
 or from the Rappid archive as was distributed by client IO. See the LICENSE file.*/


#statusbar {
    height: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #7a7d9a;
    font-family: Helvetica Neue;
    font-size: 10pt;
}
#statusbar:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #212137;
    opacity: .3;
}
#statusbar .message {
    display: inline-block;
    line-height: 25px;
    margin-left: 20px;
}