/*! Rappid v2.3.0 - HTML5 Diagramming Framework - TRIAL VERSION

Copyright (c) 2015 client IO

 2018-07-16 


This Source Code Form is subject to the terms of the Rappid Trial License
, v. 2.0. If a copy of the Rappid License was not distributed with this
file, You can obtain one at http://jointjs.com/license/rappid_v2.txt
 or from the Rappid archive as was distributed by client IO. See the LICENSE file.*/


.joint-tooltip {
    background: linear-gradient(to bottom, #c5c7e2 0%, #6a6c8b 7%, #3c4260 100%);
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    border-width: 1px;
    max-width: 150px;

    -webkit-transition: left 100ms linear, top 100ms linear;
    -moz-transition: left 100ms linear, top 100ms linear;
    -ms-transition: left 100ms linear, top 100ms linear;
    transition: left 100ms linear, top 100ms linear;
}